<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Sga_Core::core">
                    <resource id="Sga_Notification::notification" title="Notification" translate="title" sortOrder="100" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
