<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sga_notification>
            <entities>
                <create_product>
                    <label>Product Create</label>
                    <route>catalog/product/edit</route>
                    <object_id>id</object_id>
                </create_product>
                <create_order>
                    <label>Order Create</label>
                    <route>sales/order/view</route>
                    <object_id>order_id</object_id>
                </create_order>
            </entities>
        </sga_notification>
    </default>
</config>
