<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sga_Notification::notification" title="Notifications" translate="title" module="Sga_Notification" sortOrder="30" parent="Sga_Core::menu_general" action="notification/notification" resource="Sga_Notification::notification"/>
    </menu>
</config>
